/* 
light: #F5F7F3    background for text
dark: #323751     text
blue: #2FA6BB     sea on maps
yellow: #FFF64B   map pins, logo?
brown: #A07E5C    additional accent
*/

html {
  height: 100vh;
  width: 100%;
}

body {
  background-color: #f5f7f3;
  color: #323751;
  height: 100%;
  width: 100%;
}

.color-primary {
  color: #2fa6bb;
}

.bg-primary {
  background-color: #2fa6bb;
}

.hidden {
  /* visibility: hidden; */
  /* display: none; */
  width: 0;
}

.material-icons {
  font-size: 1rem;
  position: relative;
  top: 0.15rem;
  padding-right: 0.3rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  position: absolute;
  z-index: 1005;
  top: 1rem;
  /* bottom: 1rem; */
  left: 1rem;
  display: flex;
  flex-flow: row;
  background-color: #f5f7f3;
  border: 1px solid #f5f7f3;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

.sidebar-controls-col {
  width: 3rem;
}

.sidebar-main {
  z-index: 1000;
}

.sidebar-control-btn {
  height: 3rem;
  background-color: #f5f7f3;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  padding-top: 0.3rem;
}

.sidebar-control-btn:hover {
  background-color: #b6e9f2;
  cursor: pointer;
}

.sidebar-control-btn img {
  padding-top: 0.2rem;
  padding-right: 0.15rem;
}

.sidebar-control-btn i {
  font-size: 1.5rem;
}

.header {
  height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.filters-column {
  width: 25rem;
  padding: 3rem;
}

.control-item {
  margin: 3rem 0;
}

.switch {
  display: inline-block;
  position: relative;
  bottom: 0.25rem;
}

.switch label input[type="checkbox"] + .lever {
  margin-left: 0;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #b6e9f2;
  margin-left: 0;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #2fa6bb;
}

.filter-column-button {
  margin: 0.5rem;
}

/* range slider styles */
.rc-slider {
  margin-top: 1rem;
}

.rc-slider-rail {
  background-color: #b6e9f2;
}

.rc-slider-track {
  background-color: #2fa6bb;
}

.rc-slider-handle {
  background-color: #2fa6bb;
  border-color: #2fa6bb;
}

.rc-slider-disabled .rc-slider-rail {
  background-color: #323751;
}

.rc-slider-disabled .rc-slider-track {
  background-color: gray;
}

.map-container {
  height: 100vh;
  width: 100%;
  min-width: 30rem;
  flex-wrap: wrap;
}
